# TESTING OF HYPOTHESIS

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Sales_add.csv')

In [3]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
df.isnull().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [6]:
#1) The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.
#H0 = there is no increase
#H1 = there is an increase

In [11]:
from statsmodels.stats.weightstats import ztest as ztest
#alpha = 0.05
x1=df['Sales_before_digital_add(in $)']
x2=df['Sales_After_digital_add(in $)']
ztest(x1,x2,value=0)

(-12.995084451110877, 1.3046367348248653e-38)

#since this p-value is less than 0.05,we rejected the null hypothesis.
therefore,there is an increase in sales after stepping into digital marketing.

In [13]:
#2)The company needs to check whether there is any dependency between the
features “Region” and “Manager”.

In [14]:
# H0=There is no dependency between features region and managers.
# H1=There is a dependency between features region and managers.

In [22]:
crosstab=pd.crosstab(df['Region'],df['Manager'],normalize='index')
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A     0.400000     0.300000     0.300000
Region - B     0.571429     0.142857     0.285714
Region - C     0.200000     0.600000     0.200000

In [23]:
from scipy.stats import chi2_contingency
c,p,dof,expected=chi2_contingency(crosstab)
#interpret p_value
alpha=0.05
print('p value is '+str(p))
if p<=alpha:
    print('Dependent(reject H0)')
   
else:
    print('Independent(H0 holds true)')

p value is 0.9725485584250712
Independent(H0 holds true)

#since,
p-value>alpha
Therefore,we accept H0,that is, there is no dependency between features region and manager